
* {
    box-sizing: border-box;
}



ul {
    list-style-type: none;
    margin: 11px;
    padding: 20px;
    float: right;
    position: absolute;
    top: 11px;
    right: 50%;
    margin-right:-350px;
}

a {
    color: #777777
}

h1 {
    position: absolute;
    margin-left: -350px;
    left: 50%;
    margin-top: -30px;
    padding: 25px;
    background: #4aaaa5;
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif, serif;
    font-size: 21px;
    font-weight: bold;
}

li {
    display: inline;
    padding: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
  
  .header {
     position: relative;
        background: #ffffff;
        margin: -10px;
        padding: 40px;
        border-bottom: #cccccc solid
  }


  h2 {
    text-align: left;
    color: #4aaaa5;
    border-bottom: #dddddd solid;
    padding: 10px;
    margin-top: -12px;
    font-family: 'Georgia', Times, serif;
    font-size: 20px;
    font-weight: bold
}


  div {
    background-color:#ffffff;
    width: 700px;
    border: 1px solid #dddddd;
    padding: 25px;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    margin-left: -350px;
    left: 50%
    }
   


    .images {
        float: left;
        padding: 10px;
        size: 200px 200px;
        padding: 20px;
    }
    
    
    img {
        padding: 10px;
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 40px;
        background-color: #666666;
        border-top: #4aaaa5 solid;
        text-align: center;
        font-size: 10px;
        line-height: 55px;
        
        
       }
  
  